{{- $width := cond .IsNamedParams (.Get "width") (.Get 0) | default "100%" -}}
{{- $height := cond .IsNamedParams (.Get "height") (.Get 1) | default "30rem" -}}
{{- $chart_filename := (.Get "file") -}}
{{- $scratch := newScratch -}}
{{- $scratch.Set "absolute_filename" "" -}}
{{- if ($chart_filename) -}}
    {{- $chart_name := index (split (path.Base $chart_filename) ".") 0 -}}
    {{- $chart_absolute_filename := add "/" $chart_filename -}}
    {{- $scratch.Set "absolute_filename" $chart_absolute_filename -}}
    {{- $id := add "echart_" $chart_name -}}
    {{- $scratch.Set "divid" $id -}}
{{- else -}}
    {{- $content := .Inner | transform.Unmarshal | jsonify -}}
    {{- $id := dict "Content" $content "Scratch" .Page.Scratch | partial "function/id.html" -}}
    {{- $scratch.Set "divid" $id -}}
{{- end -}}
{{ $id := $scratch.Get "divid" }}
{{ $chart_absolute_filename := $scratch.Get "absolute_filename" }}
<div class="echarts" data-filename="{{- $chart_absolute_filename -}}" id="{{ $id }}" style="width: {{ $width }}; height: {{ $height }};"></div>
{{- .Page.Scratch.SetInMap "this" "echarts" true -}}
