{{- if not (.Get 0) -}}
{{- errorf "echarts_file: Missing filename to chart as parameter." -}}
{{- else -}}
{{- $chart_filename := .Get 0 -}}
{{- $chart_absolute_filename := add "/" $chart_filename -}}
{{- if not (fileExists $chart_absolute_filename) -}}
{{- errorf "Given graph file '%s' does not exist." $chart_filename -}}
{{- else -}}
{{- if not (.Page.Scratch.Get "has_echarts") -}}
{{- .Page.Scratch.Set "has_echarts" "true"  -}}
{{- end -}}
{{/* add HTML for the graph, and book its later loading. */}}
{{- $chartname := index (split (.Get "file" | path.Base) ".") 0 -}}
{{- $target_elementid := (add "echarts_" $chartname) -}}
<div class="echarts_chart" id="{{- $target_elementid -}}" style="width: 100%; height: 30rem; position: relative;" data-filename="{{- $chart_absolute_filename -}}">
[Chart '{{- $chartname -}}' yet to be loaded. If loading failed, check your developer console for errors.]
</div>
{{- end -}}
{{- end -}}